html {
    padding: 0;
    margin: 0;
}

/* sets the color of unvisited links */
a:link {
    color: rgb(138, 138, 255);
}

/* sets the color of visited links */
a:visited {
    color: rgb(155, 155, 250);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px /* x-axis */ 2px /* y-axis */ 4px /* blur */ #091d30;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#01274b 80%, #01101d 100%); /* background gradient */
    color: white; /* text color */
    margin: 0;
    width: 100%;
    height: 100%;
}

.paragraph{
    text-indent:32px;
    width: 50%;
 }

#banner {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#2675c0, #185084);
    max-width: 100%;
    height: 75px;
    margin: 0px;
    padding: 8px;
    font-size: 100%;
}

#template-img {
    width: 20%;
}

#body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content {
    max-width: 190%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#stemclubphoto {
    border-radius: 16px;
    width: 60%;
}
#creditbox { /* container for holding all credit cards */
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 80%;
}

.creditcard { /* container for individual webmaster names and pictures */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.creditimage { /* webmaster pictures */
    width: 90%;
    margin: 1%;
    border-radius: 16px;
}

.creditname { /* bar in front of webmaster pictures */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: #001529;
    width: 80%;
    min-height: 12%;
    border-radius: 16px;
    padding: 1%;
    margin: 0;
    bottom: 4%;
}

.creditname:hover { /* change bar color when hovering */
    background-color: #0057a8;
}

#footer {
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 40%;
}

#footerimage {
    width: 100%;
}